<div class="dashboard">

  <div class="welcome">
    <div class="title">{{eventInfo?.welcome}}</div>
    <div class="subtitle">{{eventInfo?.subtitule}}</div>
  </div>

  <div class="description">
    <div class="text sentence">{{eventInfo?.description}}</div>
  </div>

  <div class="space"></div>
  
  <div class="communities">
    <comfeco-article-container title="Comunidades" viewMore="/app/communities" class="w-full">
      <div class="error" [ngClass]="{'hidden' : !messageErrorCommunities}">{{messageErrorCommunities}}</div>
      <comfeco-community
        *ngFor="let community of communities"
        [image]="community.iconUrl"
        [community]="community.name"
        [link]="community.link"
      ></comfeco-community>
    </comfeco-article-container>
  </div>

  <div class="sliders">
    <comfeco-slider></comfeco-slider> <!-- expositores -->
    <comfeco-slider></comfeco-slider> <!-- patrocinadores -->
  </div>

  <div class="workshops">
    <comfeco-article-container
      title="Talleres"
      [comboBox]="true"
      [comboData]="comboKnowledgeArea"
      [comboTitleDefault]="'Talleres por area de conocimiento'"
      (onComboOptionSelected)="changeWorkshops($event)"
      viewMore="/app/workshops"
      class="w-full">
      <comfeco-workshop-list
        [workshops]="workshops"
        [message]="messageErrorWorkshops"
      ></comfeco-workshop-list>
    </comfeco-article-container>
  </div>

  <div class="counterdown">
    <comfeco-counterdown [dayEvent]="dayEvent"></comfeco-counterdown>
  </div>

</div>
