<form autocomplete="off" (ngSubmit)="renewPassword()" [formGroup]="setPasswordForm">
  <div>Cambio de Contraseña</div>

  <p>La contraseña debe contener:</p>
  <ul>
    <li>Una longitud de al menos 8 caracteres</li>
    <li>Por lo menos una letra mayúscula</li>
    <li>Por lo menos una letra minúscula</li>
    <li>Por lo menos un número</li>
    <li>Por lo menos un caracter especial</li>
  </ul>

  <div>
    <label for="password">Nueva contraseña</label>
    <input type="password" id="password" placeholder="Nueva Contraseña" formControlName="password">
    <span>{{errorPassword}}</span>
  </div>
  <div>
    <label for="confirm">Repetir contraseña</label>
    <input type="password" id="confirm" placeholder="Repetir Contraseña" formControlName="confirm">
    <span>{{errorConfirm}}</span>
  </div>

  <span>{{ errorResponse }}</span>

  <div>
    <button type="submit" [disabled]="procesingRequest">Enviar</button>
    <button routerLink="/login/login">Iniciar Sesión</button>
  </div>
</form>
