:host {
  @apply block m-4;
}

.activities {
  @apply shadow-md w-full bg-white h-auto rounded-md shadow-md flex flex-col items-start;
  min-height: 126px;
}

.title {
  @apply ml-4 mt-4 font-semibold;
}

.recent {
  @apply w-full px-4;
}

.activity {
  @apply w-full flex items-center justify-between py-4;
  
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-primary);
  }

  & .time {
    @apply text-xs pl-4;
    color: var(--color-gray);
  }

  & i {
    @apply text-5xl;
    color: var(--color-secondary);
  }
}