:host {
  display: block;
}

.spinner-back {
  @apply w-full h-screen fixed top-0 left-0 z-40;
  background-color: var(--background-modal);
}

.sppiner-container {
  @apply fixed z-50;
  top: calc(50% - 66px);
  left: calc(50% - 118px);

  & section {
    @apply flex flex-col items-center justify-center rounded-md p-6;
    background-color: var(--color-white);
    width: 236px;
    height: 162px;
  }
}

.spinner-image {
  @apply flex justify-center;
  height: calc(100% - 20px);

  & img {
    @apply w-3/4 h-full object-contain;
  }
}

.spinner-text {
  @apply mt-4;
}