@charset 'utf-8';

@import 'styles/index';



@layer utilities {
  .scrollbar {
    @apply overflow-x-hidden text-sm mt-2 overflow-auto h-48;
    scrollbar-color: var(--color-primary) var(--color-white);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--color-white);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 5px;
    }
  }

  .hidde_options {
    @apply opacity-0;
  }

  .show_options {
    @apply opacity-100;
  }

  .link {
    @apply h-4 fill-current text-xs cursor-pointer hover:underline focus:outline-none;
    color: var(--color-link);

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  .btn-primary {
    @apply inline-flex items-center justify-center py-2 px-4 rounded focus:outline-none;
    background-color: var(--color-primary);
    color: var(--color-white);
  
    &:hover {
      background-color: var(--color-primary-hover);
    }
  
    & .icon {
      @apply block h-6 w-6 pr-2;
    }
  }

  .title-section {
    @apply my-12 mx-auto font-bold text-xl;
  }

  .container-page {
    @apply mt-12 mb-24 mx-auto;

    &__content {
      @apply flex flex-wrap -mx-1 lg:-mx-4;
    }
  }
}
