@charset 'utf-8';

@import 'styles/index';



@layer utilities {
  .scrollbar-auto {
    @apply overflow-x-hidden text-sm mt-2 overflow-auto;
    scrollbar-color: var(--color-primary) var(--color-white);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--color-white);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 5px;
    }
  }

  .scrollbar {
    @apply h-48;
    @extend .scrollbar-auto;
  }

  .hidde_options {
    @apply opacity-0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .show_options {
    @apply opacity-100;
    visibility: visible;
  }

  .link {
    @apply h-4 fill-current text-xs cursor-pointer hover:underline focus:outline-none;
    color: var(--color-link);

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  .title-section {
    @apply my-12 mx-auto font-bold text-xl;
  }

  .container-page {
    @apply mt-12 mb-24 mx-auto;

    &__content {
      @apply flex flex-wrap -mx-1 lg:-mx-4;
    }
  }

  .error {
    font-size: 12px;
    color: var(--color-error);
  }

}

.insignia-winner {
  z-index: 20;
}