@charset 'utf-8';

@import 'styles/index';



@layer utilities {
  .scrollbar {
    @apply overflow-x-hidden text-sm mt-2 overflow-auto h-48;
    scrollbar-color: var(--color-primary) var(--color-white);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--color-white);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 5px;
    }
  }

  .hidde_options {
    @apply opacity-0;
  }

  .show_options {
    @apply opacity-100;
  }

  .link {
    @apply h-4 fill-current text-xs cursor-pointer hover:underline focus:outline-none;
    color: var(--color-link);
    
    &:hover {
      color: var(--color-primary-hover);
    }
  }
}