@import '../../../../styles/auth/styles';

:host {
  display: block;
}

.section-title {
  @apply my-4;
}

.features {
  @apply text-left;
}

.section-principal {
  & .btn-quaternary {
    @apply mt-8 mb-4;
  }

  & .btn-quaternary-light {
    @apply my-2;
  }
}

li {
  list-style-type: circle;
  margin-left: 15px;
}