<section class="user">
  <div class="user-username">{{user?.user}}</div>
  <div class="picture">
    <div class="picture-container">
      <img class="picture__user-photo" [src]="user?.photoUrl || 'assets/img/avatar_user.svg'">
      <div
        *ngIf="!!user?.country?.flag"
        class="picture__user-flag">
        <img [src]="user.country.flag">
      </div>
    </div>
  </div>
</section>
<section class="information">
  <div
    *ngIf="!!user?.birdth_date || !!user?.country?.name"
    class="general"
  >
    <div class="age">{{user?.birdth_date | ageUser}}</div>
    <div class="country">{{(!!user?.birdth_date ? '- ' : '') + user.country.name}}</div>
  </div>
  <div
    *ngIf="!!user?.specialities"
    class="specialities"
  >{{user.specialities.join(' / ')}}</div>
  <div>{{user?.description}}</div>
  <div class="social-networks"
    [ngClass]="(user?.social_networks | socialNetworks)?.length > 2 ? 'justify-between' : 'justify-center'">
    <div
      *ngFor="let socialNetwork of user?.social_networks | socialNetworks"
      class="social"
      (click)="openSocial(socialNetwork.link)"
    >
      <i [ngClass]="socialNetwork.clases"></i>
    </div>
  </div>
</section>
<section class="edit-profile">
  <button class="btn-secondary" (click)="editInformation()">Editar perfil</button>
</section>