<form autocomplete="off" (ngSubmit)="sendEmailChangePassword()" [formGroup]="recoveryPasswordForm">
  <div>Recupera tu cuenta</div>

  <p>Te enviaremos un correo electrónico con un enlace privado para que reasignes tu contraseña. Este enlace será válido por una hora</p>

  <div>
    <input type="email" placeholder="Correo electrónico" formControlName="email">
    <span>{{ errorEmail }}</span>
  </div>

  <span>{{ errorResponse }}</span>

  <div>
    <button type="submit" [disabled]="procesingRequest">Enviar enlace</button>
    <button routerLink="/login/login">Iniciar Sesión</button>
  </div>
</form>
