<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">

      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex items-center">
          <img class="block md:hidden h-12 w-auto" src="../../../../../assets/img/logo-simple.png" alt="confeco-logo-mobile">
          <img class="hidden md:block h-11 w-auto" src="../../../../../assets/img/logo-1.png" alt="Workflow">
        </div>
      </div>

      <div class="inset-y-0 right-0 flex items-center pr-2 sm:ml-6 sm:pr-0">
        <!-- Botón Iniciar sesión -->
        <div class="ml-3 relative">
          <div>
            <div class="rounded-md shadow">
              <a href="#" class="w-full flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-primary-700 hover:bg-primary-700">
                Iniciar sesión
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>