<div class="background-auth">
  <div class="card-auth">
    <section class="section-principal">
      <div class="bg-top">
        <img src="assets/login/shapes_form_top.svg" alt="fondo superior">
      </div>
      <div class="bg-bottom">
        <img src="assets/login/shapes_form_bottom.svg" alt="fondo inferior">
      </div>
      <div class="section-principal__container">
        <div class="section-principal__container-box-form">
          <div>
            <div class="section-logo-full">
              <img src="assets/img/logo_font.svg" alt="logo">
            </div>
            <div class="section-title">
              <h2>Reasignar Contraseña</h2>
            </div>
            <form
              autocomplete="off"
              class="form-control"
              (ngSubmit)="sendEmailChangePassword()"
              [formGroup]="recoveryPasswordForm"
            >
              <p class="features">
                Te enviaremos un correo electrónico con un enlace privado para que reasignes tu contraseña. Este enlace será válido por una hora
              </p>

              <div class="form-input">
                <input
                  type="email"
                  placeholder="Correo Electrónico"
                  formControlName="email"
                  autocomplete="off"
                >
                <span class="request-error">{{errorEmail}}</span>
              </div>
              <span class="request-error">{{ errorResponse }}</span>

              <button
                type="submit"
                [disabled]="procesingRequest"
                class="btn-quaternary"
                aria-label="Enviar enlace"
              >
                Enviar enlace
              </button>
              <div class="btn-secondary-action">
                <button
                  [routerLink]="['/auth/login']"
                  class="btn-quaternary-light"
                  aria-label="Iniciar sesiòn"
                >
                  Iniciar Sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section-secondary">
      <div class="image">
        <img src="assets/login/shapes_other_section.svg" alt="fondo secundario">
      </div>
      <div class="section-secondary__container">
        <div>
          <div class="section-logo-small">
            <img src="assets/login/logo_comfeco.svg" alt="logo">
          </div>
          <div class="action">
            <button
              [routerLink]="['/auth/login']"
              class="btn-quaternary"
              aria-label="Iniciar sesiòn"
            >
              Iniciar Sesión
            </button>
          </div>
        </div>
        <img src="assets/login/recover_account.svg" alt="recover account">
      </div>
    </section>
  </div>
</div>