<div class="bg-white shadow overflow-hidden sm:rounded-lg max-w-5xl mx-auto my-20">
    <div class="px-4 py-5 sm:px-6 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Card header
        </h3>
        <p class="mt-1 text-sm text-gray-500">
            <comfeco-register-user></comfeco-register-user>
        </p>
    </div>
    <div class="border-t border-gray-200">
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
                Body
            </dt>
        </div>
    </div>
</div>