<div class="events">
  <section class="title w-full p-4 title flex items-center justify-between">
    <div class="description">Eventos de tu interes</div>
    <div class="link" (click)="viewEvents()">Ver más</div>
  </section>
  <section class="events-info scrollbar-auto">
    <div class="events-empty" *ngIf="!events || events.length==0 && !!message">
      {{message}}
    </div>
    <comfeco-user-event
      *ngFor="let event of events"
      [event]="event"
      class="event"
      (onLeaveEvent)="onLeave($event)"
    ></comfeco-user-event>
  </section>
</div>


