
<swiper
[slidesPerView]="5"
[spaceBetween]="50"
(swiper)="onSwiper($event)"
(slideChange)="onSlideChange()"
[pagination]="{ clickable: true }"

>
<ng-template swiperSlide *ngFor="let creator of creators" ><img [src]="creator['photoUrl']" alt="">
  <img class="tecnologies"
        *ngFor="let technology of creator.technologies"
        [src]="'assets/img/'+technology.photoUrl+'.svg'"
      >
  <p class="name">{{creator['name']}}</p>
</ng-template>
<!-- <ng-template swiperSlide><img src="../../../../assets/img/nicolas.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../../assets/img/vanesa.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../../assets/img/manuel.jpg" alt=""></ng-template>
<ng-template swiperSlide><img src="../../../../assets/img/diego.jpg" alt=""></ng-template> -->

</swiper>

