<div class="creator">
  <div class="creator__container">
    <img
      [src]="creator.photoUrl || 'assets/img/user_question_card.svg'"
      class="creator__user"/>
    <div class="tecnologies">
      <div *ngIf="creator.technologies.length>0; else tecnologyQuestion">
        <img 
          *ngFor="let technology of creator.technologies"
          [src]="'assets/img/'+technology.photoUrl+'.svg'"
        >
      </div>
    </div>
    <div class="creator__name">{{creator.name}}</div>
  </div>
</div>

<ng-template #tecnologyQuestion>
  <img 
    class="tecnology-question"
    src="assets/img/tecnology_question.svg"
  >
</ng-template>