<div *ngIf="open">
  <div class="modal-back"></div>
  <div class="modal-container">
    <section>
      <div class="modal-container-header">
        <div class="title">{{modal.title}}</div>
        <div class="close">
          <i class="icon-comfeco-times" (click)="onCancelAction()"></i>
        </div>
      </div>
      <div class="modal-container-body">
        {{modal.message}}
      </div>
    </section>
    <section class="modal-container-footer">
      <button class="btn btn-secondary" (click)="onCancelAction()">{{modal.btnNo || 'No'}}</button>
      <button class="btn btn-primary" (click)="onConfirmAction()">{{modal.btnYes || 'Si'}}</button>
    </section>
  </div>
</div>