<footer class="bg-gray-900">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-28">

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex items-center">
                    <a href="https://github.com/Comunidad-de-Programadores/team-angular-46-comfeco" target="_blank"
                        class="text-white"> Ver código en Github </a>
                </div>
            </div>

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-center">
                <div class="flex items-center">
                    <img class="block h-12 w-auto" src="../../../../../assets/img/logo-1.png" alt="avatar-2">
                </div>
            </div>

            <div class="flex-1 xs:hidden md:block flex items-center justify-center sm:justify-start">
                <div class="relative flex items-center justify-end h-16">
                    <div class="flex items-center mr-1 ml-1 justify-center sm:justify-start">
                        <div class="flex items-center">
                            <img class="block h-12 w-auto" src="../../../../../assets/img/avatar-1.png" alt="avatar-1">
                        </div>
                    </div>
                    <div class="flex items-center mr-1 ml-1 justify-center sm:justify-start">
                        <div class="flex items-center">
                            <img class="block h-12 w-auto" src="../../../../../assets/img/avatar-2.png" alt="avatar-2">
                        </div>
                    </div>
                    <div class="flex items-center mr-1 ml-1 justify-center sm:justify-start">
                        <div class="flex items-center">
                            <img class="block h-12 w-auto" src="../../../../../assets/img/avatar-3.png" alt="avatar-3">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>