<div class="secion-user">
  <comfeco-user-information [user]="user" (onEditProfileEvent)="onEditProfileEvent($event)"></comfeco-user-information>
</div>
<div class="secion-records">
  <comfeco-user-insignias [insignias]="insignias"></comfeco-user-insignias>
  <comfeco-user-recent-activity [activities]="activities" [message]="messageActivities"></comfeco-user-recent-activity>
</div>
<div class="secion-events">
  <comfeco-user-events [events]="events" [message]="messageErrorEvents" (onLeaveEvent)="onLeaveEvent($event)"></comfeco-user-events>
</div>