:host {
  display: block;
}

.finish {
  @apply text-lg text-center pt-8;
  color: var(--color-tertiary);
}

.container {
  @apply flex justify-center items-center pb-10;
}

.timeout-no-finish {
  @apply pt-10;
}

.card-time {
  @apply h-24 w-24 m-4 flex flex-col justify-center items-center shadow-md rounded-md p-2 bg-opacity-50;
  background-color: var(--color-white);
}

.separator {
  color: var(--color-white);
}

.data {
  @apply text-3xl font-extrabold my-4;
}

.description {
  @apply text-xs;
  color: var(--color-primary);
}
