<app-tabs>
  <app-tab-item icon="icon-comfeco-user" label="Mi perfil">
    <app-tab-body>
      <comfeco-page-profile-user></comfeco-page-profile-user>
    </app-tab-body>
  </app-tab-item>
  <app-tab-item icon="icon-comfeco-insignia" label="Insignias">
    <app-tab-body>
      <comfeco-page-profile-user></comfeco-page-profile-user>
    </app-tab-body>
  </app-tab-item>
  <app-tab-item icon="icon-comfeco-group" label="Grupos">
    <app-tab-body>
      <comfeco-page-profile-user></comfeco-page-profile-user>
    </app-tab-body>
  </app-tab-item>
  <app-tab-item icon="icon-comfeco-event" label="Eventos">
    <app-tab-body>
      <comfeco-page-profile-user></comfeco-page-profile-user>
    </app-tab-body>
  </app-tab-item>
</app-tabs>