<div class="dashboard">

  <div class="welcome">
    <div class="title">{{eventInfo?.welcome}}</div>
    <div class="subtitle">{{eventInfo?.subtitule}}</div>
  </div>

  <div class="description">
    <div class="text">{{eventInfo?.description}}</div>
  </div>

  <div class="space"></div>

  <div class="communities">
    <comfeco-article-container title="Comunidades" viewMore="/app/communities" class="full">
      <div class="error" [ngClass]="{'hidden' : !messageErrorCommunities}">{{messageErrorCommunities}}</div>
      <comfeco-community
        *ngFor="let community of communities"
        [image]="community.iconUrl"
        [community]="community.name"
        [link]="community.link"
      ></comfeco-community>
    </comfeco-article-container>
  </div>

  <div class="sliders">
    <h3 class="mt-2 text-center mb-5"><strong>Ellos ya creen en esta Iniciativa</strong></h3>
    <div>
      <comfeco-slider></comfeco-slider> <!-- expositores -->
    </div>
    <h2 class="mt-10 mb-5">Sponsors</h2>
    <div class="">
      <comfeco-sponsor></comfeco-sponsor> <!-- patrocinadores -->
    </div>
  </div>

  <div class="workshops">
    <comfeco-article-container
      title="Talleres"
      [comboBox]="true"
      [comboData]="comboKnowledgeArea"
      [comboTitleDefault]="'Talleres por area de conocimiento'"
      (onComboOptionSelected)="changeWorkshops($event)"
      viewMore="/app/workshops"
      class="w-full">
      <comfeco-workshop-list
        [workshops]="workshops"
        [message]="messageErrorWorkshops"
        (onWorkshopMessage)="onWorkshopMessage($event)"
      ></comfeco-workshop-list>
    </comfeco-article-container>
  </div>

  <div class="counterdown">
    <p>Preparate lo bueno esta por venir</p>
    <div class="counterdown-content">
      <comfeco-counterdown [dayEvent]="dayEvent"></comfeco-counterdown>
    </div>
  </div>

</div>